:root {
    --color-blue: #0A3871;
    --color-grey: #495057;
    --color-bg: #E5E5E5;
}

* {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
}

.logoLina {
    width: 10%;
}

.cabecalho h2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: var(--color-blue);
    font-size: 2rem;
    font-weight: 700;
}

body {
    background: var(--color-bg);
    display: flex;
    font-family: "Roboto", sans-serif;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
}

main {
    display: flex;
    justify-content: center;
    height: 90vh;
    width: 150vh;
    margin: 4vh auto;
    padding: 20px;
}

.parte1 {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50vw;
}

.text-area {
    background-color: transparent;
    border: none;
    box-sizing: border-box;
    color: var(--color-blue);
    height: 80%;
    max-height: 80%;
    max-width: 100%;
    margin-bottom: 16px;
    padding: 16px;
    font-size: 32px;
    text-transform: lowercase;
    resize: none;
    /* REMOVE REDIRECIONADOR */
    outline: none;
    /* REMOVE O FOCO */
    overflow: auto;
    /* BARRA DE ROLAGEM SÓ QUANDO NECESSÁRIO */
}

::placeholder {
    color: #0A3871;
}

.text-area:focus {
    outline: none;
}

.alerta {
    align-items: center;
    color: var(--color-grey);
    display: flex;
    font-size: 18px;
    margin-bottom: 16px;
}

.alerta img {
    margin-right: 8px;
}

.botoes_parte1 {
    display: flex;
    justify-content: space-between;
}

button {
    border-color: var(--color-blue);
    border-radius: 24px;
    color: var(--color-blue);
    cursor: pointer;
    font-size: 16px;
    padding: 24px;
    margin: 15px;
    width: 48%;
}

.botaoCopiar {
    /*     align-items: center;
    display: flex;
    flex-direction: column; */
    display: block;
    text-align: center;
    font-size: 16px;
    justify-content: center;
    width: 100%;
}

/* button:hover {
    border: 2px solid aqua;
    font-size: 19px ;
    transition: .1s;    
} */

.botaoCriptografar {
    background-color: var(--color-blue);
    border: none;
    color: #E5E5E5;
}

.botaoDescriptografar {
    background-color: transparent;
    border: 1px solid var(--color-blue);
}

.resultado {
    align-items: center;
    background: #FFFFFF;
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
    text-align: center;
    padding: 10px;

}

.textoFinal {
    border: none;
    color: black;
    resize: none;
    outline: none;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}

.textoFinal .ajustes {
    height: 80%;
    font-weight: lighter;
}

.digiteTexto {
    color: #495057;
    font-size: 16px;
    text-align: center;
}

.resultado textarea {
    font-weight: 700;
    font-size: 20px;
    margin: 16px 0;
}

.resultado p {
    font-size: 18px;
}

.resultado {
    font-size: 24px;
    color: #333333;
    margin-bottom: 16px;
    height: 90%;
    line-height: 150%;
    overflow: auto;
}

h1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: var(--color-blue);
    font-size: 2rem;
    font-weight: 700;
    margin-top: 1.5rem;
}

footer ul a{
    align-items: center;   
    background: var(--color-bg);
    color: rgb(102, 100, 100);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-decoration: none;
    width: 100%;
   
}
/* LINKS Redes Sociais */

.social-media {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 50px 30px; 
    padding: 24px;   
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.637);
}
.social-media li{
    margin: 0 5.4rem 4rem ;

}

.logos {
    color: rgb(102, 100, 100);
    height: 60px;
    text-shadow: 3px 4px 2px rgba(0, 0, 0, 0.29);
    width: 60px;
}

.social-media-item {
    font-size: 22px;
    justify-content: space-between;
    border-radius: 10px;
    color: rgb(102, 100, 100);
    font-size: 1.5rem;
    padding: 1.3rem;
    margin: 1rem;
}

.social-media-item:hover{
    box-shadow: 3px 4px 2px rgb(102, 100, 100);
    font-size: 34px ;
    transition: .1s;  
}


/* LOGO + COPYRIGHT */
.copyright {
    text-align: center;
    color: rgb(102, 100, 100);
    font-size: 13px;

    margin: 20px;
}
.logo_copyright {
    margin: 10px;
    width: 20%;
}
