:root{
    --color-blue: #0A3871;
    --color-grey: #495057;
}


* {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
}

.logoLina {
    margin-left: 10px;
    padding-top: 10px;
    width: 30%;
}

body {
    background: #E5E5E5;
    display: flex;
    justify-content: center;
    padding: 40px;
}


main {
    display: flex;
    justify-content: space-between;
/*     height: 70vh;
    width: 90vh; */
    margin: 5vh auto;
}

.parte1 {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 60vw;
}

.cabecalho {  
    margin-left: 10px;
    padding-top: 10px;
    width: 15%;
    line-height: 50%;
}

.text-area {
    background-color: transparent;
    border: none;
    box-sizing: border-box;
    color: var(--color-blue);
    height: 80%;
    max-height: 80%;
    max-width: 100%;
    margin-bottom: 16px;
    padding: 16px;
    font-size: 32px;
    text-transform: lowercase;
    resize: none; /* REMOVE REDIRECIONADOR */
    outline: none; /* REMOVE O FOCO */
	overflow: auto; /* BARRA DE ROLAGEM SÓ QUANDO NECESSÁRIO */
}

::placeholder {
    color: #0A3871;
}
    
.text-area:focus {
    outline: none;
}

.alerta {
    align-items: center;
    color: var(--color-grey);
    display: flex;
    font-size: 18px;
    margin-bottom: 16px;
}

.alerta img {
    margin-right: 8px;
}

.botoes_parte1 {
    display: flex;
    justify-content: space-between;
}

button {
    border-radius: 24px;
    cursor: pointer;
    font-size: 16px;
    padding: 24px;
    margin: 15px;
    width: 48%;
  }

.botaoCriptografar {
    background-color: var(--color-blue);
    border: none;
    color: #E5E5E5;
    cursor: pointer;
}

.botaoDescriptografar {
    background-color: transparent;
    border: 1px solid var(--color-blue);
    color: var(--color-blue);
    cursor: pointer;
}

.resultado {
    align-items: center;
    background: #FFFFFF;
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 32px;
    height:calc(100% + 48px);
    justify-content: center;
    text-align: center;
    padding: 32px;
}

/* .resultado.ajustes{
    justify-content: space-between;
} */

.textoFinal{
    border: none;
    color: black;
    resize: none;
    outline: none;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}

.textoFinal .ajustes{
    height: 80%;
    font-weight: lighter;
}

.digiteTexto{
    color: #495057;
    font-size: 16px;
    text-align: center;
}

.resultado textarea {
    font-weight: 700;
    font-size: 20px;
    margin: 16px 0;
}
 
 .resultado p {
    font-size: 18px;
}

 .resultado_resultado {
    font-size: 24px;
    color: #333333;
    margin-bottom: 16px;
    height: 90%;
    line-height: 150%;
    overflow: auto;
 }
 


.botaoCopiar button {
    align-items: center;
    background: transparent;
    border: 1px solid var(--color-blue);
    border-radius: 18px;
    color: var(--color-blue);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    height: 40px;
    justify-content: center;
    width: 100%;
}

button:hover {
    border: 2px solid aqua;
    font-size: 19px ;
    transition: .1s;    
}

footer {
	background: var(--color-grey);
	margin-top: 10%;
}

footer div img {
	border-radius: 100%;
	position: relative;
	display: inline-block;
	margin-left: 240px;
	max-width: 5%;
	padding: 15px;
	width: 940px;
}

footer p {
	display: inline-block;
}

.social-media {
	color: #fff;
	text-align: center;
	padding: 1rem;
	display: block;
}

.social-media p {
	display: block;
	margin-bottom: 0.5rem;
	font-size: 0.8rem;
}

.social-media a {
	font-size: 1.5rem;
	text-decoration: none;
	color: white;
	cursor: pointer;
} 
